/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    width: 1069.9 px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
#header {
    width: 1069.9px;
    height: 60px;    
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
}
#header .home {          
    color: #19191B;
    text-decoration: none;
    border-bottom: 2px solid #5454D4; /*сплошная нижняя граница border */
    padding-bottom: 10px;       
}
#header .features, .pricing, .blog  {           
    color: #696871;
    text-decoration: unset;
}
#header .home, .features, .pricing, .blog {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold; /*bold тоже самое что и 700, но только для жирности 700 */
    font-size: 15px;  /*размер шрифта*/
    line-height: 20px;  /*устанавливвает величину пространства между строками*/
    letter-spacing: -0.468947px; /*Определяет интервал между символами в пределах элемента*/
}
#header .getstarted  {    
    padding-top: 19px; 
    padding-bottom: 19px;
    padding-left: 59px;
    padding-right: 60px;   
    background: #FF7143;
    border-radius: 10px;
    text-align: center;
    font-family: DM Sans; 
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;    
    letter-spacing: -0.531474px; 
    color: #FFFFFF;
    text-decoration: unset;    
}

/* MAIN */
#main {
    display: flex;
    flex-direction: column;    
}

/* SECTION: Your Bisines */
#yourbisines { 
    width: 1069.9px;  
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#yourbisines h1 { 
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
}
#yourbisines p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
}
#yourbisines .down {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
#yourbisines .getstarted { 
    padding-top: 19px; 
    padding-bottom: 19px;
    padding-left: 59px;
    padding-right: 60px;   
    background: #5454D4;
    border-radius: 10px;
    text-align: center;
    font-family: DM Sans; 
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;    
    letter-spacing: -0.531474px; 
    color: #FFFFFF;
    text-decoration: unset;    
}
#yourbisines div img { 
    width: 60px; 
    height: 60px;
    margin-left: 40px;   
}
#yourbisines img {
    width: 610px;
    height: 644px;
    margin-left: 74px;   
}

/* SECTION: Company Logos */
#companylogos {
    margin-top: 100px;       
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SECTION: Subscription index */
#subscriptionindex {    
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#subscriptionindex div h1 {    
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;    
    letter-spacing: -1.56316px;   
    color: #19191B;
}
#subscriptionindex div p {    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;    
    letter-spacing: -0.625263px;    
    color: #696871; 
    margin-bottom: 30px;   
}
#subscriptionindex div a {    
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
}

/* SECTION: In-depth metrics */
#indepthmetrics {
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#indepthmetrics div h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
}
#indepthmetrics div p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    margin-bottom: 30px;
}
#indepthmetrics div a {     
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
}

/* SECTION: Audit */
#audit {
    margin-top: 138px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
#audit .benchmarks, .pricingaudit, .retentionaudit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#audit .benchmarks img, .pricingaudit img, .retentionaudit img {
    width: 151px;
    height: 97px;
}
#audit .benchmarks h3, .pricingaudit h3, .retentionaudit h3 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.750316px;
    color: #19191B;
}
#audit .benchmarks p, .pricingaudit p, .retentionaudit p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #696871;
}
#audit .benchmarks div, .pricingaudit div, .retentionaudit div {
    margin-top: 20px;
}

 /* SECTION: Plan */
 #plan {
     margin-top: 150px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
#plan h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}
#plan div {
    display: flex;
    flex-direction: row;
    justify-content: end;   
}

#plan .yearly {   /*!!!Не могу выровнять синюю кнопку как в макете (((*/  
    z-index: 1; /*выводит синюю кнопку поверх серой по оси Z*/
    padding-top: 18px; 
    padding-bottom: 16px;    
    padding-left: 50px;
    padding-right: 50px;
    /* margin-left: 500 px;     */
    
    background: #5454D4;
    border-radius: 10px;
    text-align: center;    
    border-radius: 10px 0px 0px 10px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #FFFFFF;
    text-decoration: none;
}
#plan .monthly {  
    /* width: 344px;
    height: 65px; */
    padding-top: 23px;
    padding-bottom: 21px; 
    padding-right: 53px; 
    background: #F7F7FB;
    border-radius: 10px;
    text-align: center;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    letter-spacing: -0.500211px;
    color: #19191B;
    text-decoration: none;
    /* margin-left: auto 0; */
}

/* SECTION: prices */
#prices {
    margin-top: 82px;
    margin-bottom: 158px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#prices .starter, .premium, .enterprise {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prices .starter, .enterprise {
    width: 330px;
    height: 441px;
    background: #F8F8F8;
    border-radius: 10px;
}
#prices .premium {
    width: 376px;
    height: 473px;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827); /*задаёт тень элементу*/
    border-radius: 10px;
}
#prices .starter p, .enterprise p {    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
    margin-top: 34px;   
}
#prices .starter h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;    
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin-top: 28px;
    margin-bottom: 0;   
}
#prices .starter div, .premium div, .enterprise div {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
}

#prices .starter .website, .enterprise .website {
    margin-top: 28px;
}
#prices .starter .hosting, .enterprise .hosting {
    margin-top: 20px;
}
#prices .starter .limitedsupport, .enterprise .limitedsupport {
    margin-top: 20px;
}
#prices .starter .getstarted, .enterprise .getstarted  {
    padding: 19px 92px;   
    margin-top: 36px;
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
    text-decoration: unset;
}
#prices .enterprise h1 {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
}
#prices .enterprise h1 span {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
}
#prices .premium .prem {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;    
    text-align: center;
    letter-spacing: -0.562737px;    
    color: rgba(255, 255, 255, 0.7);
    margin-top: 50px;
}
#prices .premium div {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;    
}
#prices .premium .website {
    margin-top: 28px;
}
#prices .premium .hosting, .premium .limitedsupport {
    margin-top: 15px;
}
#prices .premium h1 {
    margin-bottom: 0;
    margin-top: 22px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #FFFFFF;
}
#prices .premium h1 span {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #FFFFFF;
}
#prices .premium .getstarted  {
    padding: 19px 102px;   
    margin-bottom: 0px;
    background: #9F3919;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    text-decoration: unset;
    border: 0;

}







   





